@import url("https://fonts.googleapis.com/css2?family=Quantico&display=swap");

.PageBacktest {
  text-align: center;
  font-family: "Quantico", sans-serif;
  color: #1c2237;
}

.command {
  height: 300px;
  overflow: scroll;
}
