@import url("https://fonts.googleapis.com/css2?family=Quantico&display=swap");

.container {
  padding-left: 60px;
  font-family: "Quantico", sans-serif;
  color: #1c2237;
}

.position {
  padding-top: 40px;
}

.history {
  padding-top: 40px;
}

.wrapper1 {
  padding-top: 40px;
}

.wrapper2 {
  padding-top: 40px;
}
