/*
.widget {
    padding-top:40px;
    padding-right:255px;
}
*/

/* .wrapper {
  padding-top: 40px;
  display: flex;
}

.widget {
  flex: 1;
  border: 2px;
}

.functions {
  margin-right: 40px;
}
 */

@import url("https://fonts.googleapis.com/css2?family=Quantico&display=swap");

.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0.8em;
  margin-left: 2.5em;
  padding-top: 1.1%;
  justify-content: center;
}

h1,
label {
  font-family: "Quantico", sans-serif;
  color: #1c2237;
}
