.contanier {
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper1 {
  padding-top: 40px;
}

/* .position {
    float: left;
    width: 50%;
    padding: 5px;
  }
  @media screen and (max-width: 600px) {
    .position {
      width: 100%;
    }
  } */

/* .position {
    border: 2px;
  }
  .display {
    margin-right: 50px;
  } */

.wrapper2 {
  padding-top: 40px;
  /* display: flex; */
}

.history {
  flex: 1;
  border: 2px;
}

.historyfn {
  margin-right: 50px;
}
