

.Outer {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.inner {
  position: absolute;
  padding-top: 5%;
}

.caption {
  padding-top: 1px;
}

.button {
    padding-top: 25px;
}