@import url("https://fonts.googleapis.com/css2?family=Quantico&display=swap");

table {
  height: 40%;
  left: 10%;
  margin: 20px auto;
  overflow-y: scroll;
  position: static;
  width: 60%;
}

thead th {
  background: #1f294b;
  color: #fff;
  font-family: "Quantico", sans-serif;
  font-size: 16px;
  font-weight: 100;
  letter-spacing: 2px;
  text-transform: uppercase;
}

tr {
  background: #f4f7f8;
  border-bottom: 1px #fff;
  margin-bottom: 5px;
}

th,
td {
  font-family: "Quantico", sans-serif;
  font-size: 18px;
  font-weight: 400;
  padding: 20px;
  text-align: left;
  width: 33.3333%;
}
